
<div class="card">
  <h2>AppCounter: {{ appCounterService.counter }}</h2>
  <!--    will be duplicated with app component-->
  <button class="btn" (click)="appCounterService.increase()">+</button>
  <button class="btn" (click)="appCounterService.decrease()">-</button>
</div>

<div class="card">
  <h2>Local Counter: {{ localCounterService.counter }}</h2>
<!--  registered locally-->


  <button class="btn" (click)="localCounterService.increase()">+</button>
  <button class="btn" (click)="localCounterService.decrease()">-</button>
</div>
